body,html {
    margin: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 300px 1fr;
}

#ui {
    background: #FFFFFF;
    height: 100vh;
    padding: 15px;
}

#artboard {
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sketch {
    background: #111111;
    width: 700px;
    height: 700px;
}

.rangeslider {
    width: 100%;
}

.uiEl {
    padding: 0 0 15px 0;

}

aside {
    position: fixed;
    right: -100vw;
    top:0;

    
    height: 100vh;
    width: calc(100vw - 300px);
    background:#f1f1f1;
    transition: right 0.3s ease;
    overflow-y: scroll;
}

#images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

#images img {
    max-width: 200px;
    padding: 1px;
    cursor: pointer;
}

aside.active {
    right: 0;
}

img {
    width: 100%;
}

.btn {
    background: #CCCCCC;
    color: black;
    padding: 15px 15px;
    outline: 0;
    box-shadow: none;
    border: 0;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.btn:hover {
    background: #ffff00;
}

.btn-save {
    background: #00ff00;
    width: calc(300px - 30px);
}

#ui h5 {
    margin: 0 0 5px 0;
    padding: 0;
    text-transform: uppercase;
}

.m-bot-5 {
    margin-bottom: 5px;
}

p {
    margin: 0;
}

.btn-loadImage {
    width: 100%;
    height: 100px;
}