body,html {
    margin: 0;

}

* {
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 300px 1fr;
}

#ui {
    background: #f1f1f1;
    height: 100vh;
    padding: 15px;
}

#artboard {
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sketch {
    background: yellow;
    width: 700px;
    height: 700px;
}

.rangeslider {
    width: 100%;
}

.uiEl {
    padding: 0 0 15px 0;

}

aside {
    position: fixed;
    right: -100vw;
    top:0;
    padding: 10px;
    
    height: 100vh;
    width: calc(100vw - 300px);
    background:#aaaaaa;
    transition: right 0.3s ease;
}

#images {
    display: flex;
    flex-wrap: wrap;

}

#images img {
    max-width: 200px;
    padding: 10px;
    cursor: pointer;
}

aside.active {
    right: 0;
}

img {
    width: 100%;
}